*.tmp
assignment/1/~$signment_1.docx
assignment/1/gamcor.m
assignment/1/part_1_and_3.docx
assignment/1/question3_pt2.m
assignment/1/jcr327_yac25_assignment_1.docx
assignment/1/part_2.m
assignment/1/part_1.docx
assignment/2/jcr327_yac25_assignment_2.docx
assignment/2/baboon_and_pepper_images.zip
assignment/2/scrap_part_2.m
assignment/3/scrap.xlsx
assignment/3/Assignment_3_Files.zip
