*.tmp
assignment/1/~$signment_1.docx
assignment/1/gamcor.m
assignment/1/part_1_and_3.docx
assignment/1/question3_pt2.m
assignment/1/jcr327_yac25_assignment_1.docx
assignment/1/part_2.m
assignment/1/part_1.docx
assignment/2/jcr327_yac25_assignment_2.docx
assignment/2/baboon_and_pepper_images.zip
assignment/2/scrap_part_2.m
assignment/3/scrap.xlsx
assignment/3/Assignment_3_Files.zip
*.asv
scrap_part_2.m
scrap*
assignment/4/imageOrigin*.txt
assignment/4/jcr327_yac25_assignment_4.docx
assignment/4/JPEGsnoop_v1_8_0.zip
assignment/4/Assignment_4_Files.zip
assignment/3/jcr327_yac25_assignment_3.docx
assignment/4/JPEGsnoop.exe
assignment/4/Assignment 4 Write Up.docx
assignment/4/jcr327_yac25_assignment_4.docx
assignment/5/Assignment_5_Files.zip
assignment/5/jcr327_yac25_assignment_5.docx
